.content {
  width: 80%;
  height: 6rem;
  padding: 0.8rem 1.4rem;
  margin: auto;
  box-sizing: border-box;

  color: #fff;
  background: #565656;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo img {
  width: 3rem;
}

.form {
  flex: 1 0 8rem;
  display: flex;
  align-items: center;

  position: relative;
}

.formInput {
  width: 99%;
  height: 2rem;
  padding: 0 0.4rem;

  color: #fff;
  background: transparent;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  outline: none;
}

.formInput:focus {
  background: #333;
}

.formCloseButton {
  color: #fff;
  position: absolute;
  right: 1rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.user img {
  width: 3rem;
  height: 3rem;
  box-shadow: 0 0 0.1rem 0.2rem #333;
  border-radius: 50%;

  object-fit: cover;
}

.user p {
  color: rgb(17, 255, 192);
}

@media (max-width: 1300px) {
  .content {
    width: 85%;
    height: 5rem;
    gap: 2rem;
    padding: 0.6rem 1.2rem;
  }
  .logo img {
    width: 2rem;
  }
  .formInput {
    width: 99%;
    height: 1.5rem;
  }
  .user p {
    display: none;
  }
  .user img {
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 760px) {
  .content {
    width: 90%;
    height: 4rem;
    gap: 1rem;
    padding: 0.4rem 1rem;
  }

  .logo h1 {
    display: none;
  }
}

@media (max-width: 360px) {
  .content {
    width: 100%;
  }
}
