.content {
  background: var(--white);
  border-radius: 8px;
  align-self: start;

  .list {
    font-weight: 600;
    padding: 20px 40px 20px 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
