html,
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

body {
  padding: 0.5rem;
}

:root {
  width: 100vw;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  background: #333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
